<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button
        [text]="getBackButtonText()"
        defaultHref="/"
        class="title"
      ></ion-back-button>
    </ion-buttons>
    <ion-title class="title" slot="end">Planejamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="message">
  <ion-grid>
    <ion-col>
      <ion-item>
        <ion-label class="ion-text-wrap" class="fromName">
          <h2>
            {{ message.fromName }}
            <span class="date">
              <ion-note>{{ message.date }}</ion-note>
            </span>
          </h2>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-grid>

  <div class="ion-padding">
    <ion-label class="date">{{ message.subject }}</ion-label>
    <hr />
    <ion-label color="primary">{{ message.message }}</ion-label>
    <ion-grid>
      <ion-col>
        <div>
          <ion-item>
            <ion-label color="primary">Passagem Aérea</ion-label>
            <ion-select placeholder="Selecione">
              <ion-select-option value="LATAM"
                >{{ message.airTicket }}</ion-select-option
              >
              <ion-select-option value="AZUL">AZUL</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </ion-col>
    </ion-grid>

    <ion-grid>
      <ion-col>
        <div>
          <ion-item>
            <ion-label color="primary">Estadia</ion-label>
            <ion-select placeholder="Selecione">
              <ion-select-option value="LATAM"
                >{{ message.accommodation }}</ion-select-option
              >
              <ion-select-option value="AZUL">AZUL</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </ion-col>
    </ion-grid>

    <ion-grid>
      <ion-col>
        <div>
          <ion-item>
            <ion-label color="primary">Locomoção</ion-label>
            <ion-select placeholder="Selecione">
              <ion-select-option>{{ message.locomotion }}</ion-select-option>
              <ion-select-option value="AZUL">AZUL</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </ion-col>
    </ion-grid>

    <div class="ion-text-end">
      <ion-button class="title">Adicionar evento</ion-button>
    </div>
  </div>
</ion-content>
