<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [text]="getBackButtonText()"
        defaultHref="/"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="message">
  <ion-item>
    <ion-icon name="person-circle" color="primary"></ion-icon>
    <ion-label class="ion-text-wrap">
      <h2>
        {{ message.fromName }}
        <span class="date">
          <ion-note>{{ message.date }}</ion-note>
        </span>
      </h2>
    </ion-label>
  </ion-item>

  <div class="ion-padding">
    <h1>{{ message.subject }}</h1>
    <p>{{ message.message }}</p>
    <ion-grid>
      <ion-col>
        <div>
          <ion-item>
            <ion-label>Passagem Aérea</ion-label>
            <ion-select placeholder="Selecione">
              <ion-select-option value="LATAM"
                >{{ message.airTicket }}</ion-select-option
              >
              <ion-select-option value="AZUL">AZUL</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </ion-col>
    </ion-grid>

    <ion-grid>
      <ion-col>
        <div>
          <ion-item>
            <ion-label>Estadia</ion-label>
            <ion-select placeholder="Selecione">
              <ion-select-option value="LATAM"
                >{{ message.accommodation }}</ion-select-option
              >
              <ion-select-option value="AZUL">AZUL</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </ion-col>
    </ion-grid>

    <ion-grid>
      <ion-col>
        <div>
          <ion-item>
            <ion-label>Locomoção</ion-label>
            <ion-select placeholder="Selecione">
              <ion-select-option>{{ message.locomotion }}</ion-select-option>
              <ion-select-option value="AZUL">AZUL</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </ion-col>
    </ion-grid>
  </div>
</ion-content>
